{% load static %}

<footer style="background-color: #333333; color: #6c757d; padding: 20px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center text-md-left">
                <img src="{% static 'images/acofer.png' %}" alt="Logo">
            </div>

            <div class="col-md-3 text-center text-md-left">
                <h5>INSTITUCIONAL</h5>
                <ul style="list-style: none; padding-left: 0;">
                    <li><a href="{% url 'quem_somos' %}">Quem Somos</a></li>
                    <li><a href="{% url 'lojas' %}">Nossas Lojas</a></li>
                    <li><a href="{% url 'trabalhe_conoscos' %}">Trabalhe Conosco</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                </ul>
            </div>

            <div class="col-md-3 text-center text-md-left">
                <h5>ATENDIMENTO AO CLIENTE</h5>
                <ul style="list-style: none; padding-left: 0;">
                    <li><i class="fas fa-phone"></i> (65) 3667-0505 / 0800 065 5353</li>
                    <li><i class="fas fa-envelope"></i> <a href="mailto:contato@acofer.com.br">contato@acofer.com.br</a></li>
                    <li><i class="fas fa-clock"></i> Segunda a Sexta das 7:30h às 11:30h e das 13:00h às 17:00h</li>
                    <li><i class="fas fa-clock"></i> Sábado das 07:30h às 11:30h</li>
                </ul>
            </div>

            <div class="col-md-3 text-center text-md-left">
                <h5>REDES SOCIAIS</h5>
                <ul style="list-style: none; padding-left: 0;">
                    <li>
                        <a href="https://www.facebook.com/A%C3%A7ofer-Industria-117278269680818/" target="_blank">
                            <i class="bi bi-facebook fs-2"></i>
                        </a>
                        <a href="https://www.instagram.com/acoferindustria/" target="_blank">
                            <i class="bi bi-instagram fs-2"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="bi bi-twitter fs-2"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-3" style="background-color: #0056b3; padding: 100px; background-image: url('{% static 'images/6_6_BNR.jpg' %}'); background-size: cover; background-position: center;">
        <div class="col text-center">
            <p style="color: white;">&copy; Copyright 2024 - Açofer Indústria e Comércio Ltda - Todos os Direitos Reservados.</p>
        </div>
    </div>
</footer>
