{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="text-center mb-4">
    <img src="{% static 'images/7_7_BNR.jpg' %}" alt="Logo"  class="img-fluid" alt="Banner" style="max-width: 100%;">
</div>

<div class="container mt-6">
    <div class="container mt-4">
        <h3 class="display-6">Cadastrar Marca</h3>
    
        <div class="card">
            <div class="card-body">
                <p class="card-text">Tem certeza de que deseja excluir a marca <strong>{{ object.name }}</strong>?</p>

                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mt-3">Deletar</button>
                </form>

                <a href="{% url 'brand_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Marcas</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
